.DS_STORE
.DS_Store
autocompletion/data/temp.model
buttonAddition/.DS_Store
buttonAddition/buttonAddition.xcodeproj/project.xcworkspace/xcuserdata/menggaole.xcuserdatad/UserInterfaceState.xcuserstate
buttonAddition/buttonAddition.xcodeproj/project.xcworkspace/xcuserdata/jacky.xcuserdatad/UserInterfaceState.xcuserstate

